<div class="bottom-link">
<span class="span-left">@Html.ActionLink("Add new stylist", "Create", "Stylists")</span>
<span class="span-center">@Html.ActionLink("Add new Client", "Create", "Clients")</span>
<span class="span-right">@Html.ActionLink("Home", "Index", "Home")</span>
</div>