  @{
  Layout = "_Layout";
}
<h1>Welcome to the hair salon</h1>
<hr />
<p></p>
<p class="index-links"><a href='/stylists/'>View stylists</a></p>
<p class="index-links">@Html.ActionLink("View all clients", "Index", "Clients")</p>