@{
  Layout = "_Layout";
}

@using HairSalon.Models;

<h1>Clients</h1>

    <div class="justify-right">
  @using (Html.BeginForm("Find", "Clients", "post"))
  {
    @Html.Label("Search for a client")
    <p>@Html.TextBox("queryString")</p>
    <p></p>
    <p class="button"><input type="submit" value="Search" class="button"></p>
  }
    <p></p>
    </div>

<ul>
  @foreach (Client client in Model)
  {
    <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId}) | @client.Stylist.Name</li>
  }
</ul>
